.miama{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 140px;                                         
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


h4{
    /* margin: 0px; */
}
.big-text{
    font-size: 48px;
    margin: 0px;
    font-weight: 800;
    margin-bottom: 14px;
}

.small-description{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    text-align: center;
}
.body{
    background-color: black;
    color: white;
    margin: 0px;
}
.nav{
    display: flex;
    margin: 57px 197px 32px;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-weight: 800;
    font-style: italic;
    font-size: 2.26rem;
    color: #E6533C;
}

nav ul{
    display: flex;
    border: solid rgba(255, 255, 255, 0.1) 1px;
    border-radius: 39px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
nav li{
    font-size: 1.125rem;
    list-style: none;
    margin: 4px 0px;
    padding: 8px 23.5px;
}

.home{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
    margin: 4px;
    font-weight: 600;
}

.body-in-shape{
   
    width: 520px;
}

.shape{
    font-size: 78px;
    font-weight: 800;
    line-height: 78px;
    margin-bottom: 0px;
    
}

.unleash{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0px;    
}
.orange-btn{
    width: 224px;
    font-family: inter;
    background-color: #e6533c;
    border-radius: 42px;
    padding: 16px 0px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-right: 14px;
}

.black-btn{
    width: 224px;
    font-family: inter;
    background-color: transparent;
    border-radius: 42px;
    padding: 16px 0px;
    border: solid 1px white;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin: 0px 214px 0px 190px;
}

.tr-card1{
    background-color: rgba(48, 48, 48, 0.54);
    padding: 17px 24px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 169px;
    height: 81px;
    position: relative;
    bottom: 450px;
    left: 230px;
    
}

.tr-card2{
    background-color: rgba(48, 48, 48, 0.54);
    width: 182px;
    height: 82px;
    padding: 17px 24px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 350px;
    right: 150px;
}

.header{
    background-image: linear-gradient(rgba(119, 119, 119, 0), rgba(17, 17, 17, 1), black);
}

.round-orange{
    width: 40px;  
    height: 40px ; 
    background-color: #e6533c; 
    border-radius: 50%;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 198px;

}

.sec2-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2-cards{
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 58px;
    justify-content: space-between;
}

.section2-cards img{
    border-radius: 50%;
    border: solid 5px rgba(255, 255, 255, 0.1);
    margin: 0px 25.5px;
}

.section2-cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    padding: 0px 20px;
}

.section3{
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 190px;
    border-radius: 18px;
    padding: 32px;
}

.run-extra{
    width: 443px;
    margin: 54px;
}

.push-beyond{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 34px 0px; 
}

.running{
    border-radius: 18px;
}

.section4{

    align-items: center;
    margin-bottom: 88px;
}

.bmi{
    background-color:rgba(34, 34, 34, 1) ;
    display: flex;
    padding: 52px 190px;
    justify-content: space-evenly;
    margin-top: 88px;
}

.bmi-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    background-color: rgba(34, 34, 34, 1);
    padding: 20px;
    margin: 58px 190px;
    border-radius: 18px;
}

td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 15px 18px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 15px 18px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

table{
    border-collapse: collapse;
}

h3{
    font-size: 28px;
}


.itm1{
    grid-area: itm1;
}
.itm2{
    grid-area: itm2;
}
.itm3{
    grid-area: itm3;
}
.itm4{
    grid-area: itm4;
}
.itm5{
    grid-area: itm5;
}

.form{
    display: grid;
    gap: 12px;
    grid-template-areas: 
    "itm1 itm2"
    "itm3 itm4"
    "itm5 itm5"
    ;
    margin: 34px 0px;
}


input{
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    padding-left: 20px;
}

select{
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    color: gray;
}  

.meet-team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-left{
    position: absolute;
    bottom: 19px;
    left: 19px;
}

.team-member1{
    background-image: url(images/trainer1.png);
    height: 272px;
    background-size: cover;
    border-radius: 18px;
    position: relative;
    background-position: top;
}

.team-member2{
    background-image: url(images/trainer2.png);
    height: 272px;
    background-size: cover;
    border-radius: 18px;
    position: relative;
    background-position: top;
}

.team-member3{
    background-image: url(images/trainer3.png);
    height: 272px;
    background-size: cover;
    border-radius: 18px;
    position: relative;
    background-position: top;
}

.team-member4{
    background-image: url(images/trainer4.png);
    height: 272px;
    background-size: cover;
    border-radius: 18px;
    position: relative;
    background-position: center;
}

.team-member5{
    background-image: url(images/trainer5.png);
    height: 272px;
    background-size: cover;
    border-radius: 18px;
    position: relative;
    background-position: center;
}

.team-member6{
    background-image: url(images/trainer6.png);
    height: 272px;
    background-size: cover;
    border-radius: 18px;
    position: relative;
    background-position: center;
}

.check-our{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 58px;
}

.supplements{
    margin-top: 30px;
}
.supp{
    width: 300px;
}





.full-footer{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 66px 190px 0px;
}


.footer-divide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ftr-logo{
    font-weight: 800;
    font-style: italic;
    font-size: 70px;
    color: #E6533C; 
    margin-top: 0px;
    margin-bottom: 20px;
}

.copyright{
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    padding: 36px 0px 36px;
}

.footer{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
}




@media screen and (max-width: 576px) {
    .header{
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    .nav{
        margin: 0px;
    }
    .menu{
        display: none;
    }

    .hero{
        display: flex;
        flex-direction: column;

    }
    .shape{
        font-size: 32px;
    }

    .miama{
        font-size: 40px;
    }

    .big-text{
        font-size: 32px;
    }

    .section2-cards{
        display: flex;
        flex-direction: column;
    }

    .section3{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .running{
        width: 287px;
    }

    .run-extra{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 520px;
    }

    .bmi{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(1, auto);
        margin: 20px;
    }

    .footer-divide{
        display: flex;
        flex-direction: column;
    }

    .full-footer{
        padding: 0px;
    }

    .tr-card1{
        width: 100px;
        position: relative;
        bottom: 350px;
    }

    .tr-card2{
        width: 120px;
        position: relative;
        bottom: 350px;
        left: 50px;
    }
}